.formControl{
    margin-top: 1000px;
    width: 30%;
    margin-bottom: 30px !important;
    background-color: rgba(92, 228, 183, 0.692);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


